<header id="myCarousel">
  <ul class="bxslider" style="margin: 0px;">
    {{#each banners}}
      <li><img class="image-response" src="{{ image }}"/></li>
    {{/each}}
  </ul>
</header>

<script>
$(document).ready(function(){
  $('.bxslider').bxSlider();
});
</script>

<style type="text/css">
.bx-wrapper {
    margin: 0px;
}
</style>